.banner {
  position: relative;
  width: calc(100% - 40px);
  max-width: 1240px;
  height: 223px;
  margin: 30px auto;
  border-radius: 25px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-size: 2.52rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 4, 4, 0.25);
  }
}

/* Tablette : 768px → 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    width: calc(100% - 30px);

    h1 {
      left: 50%;
      text-align: center;
      font-size: 2rem;
    }
  }
}

/* Mobile : 375px → 767px */
@media (min-width: 320px) and (max-width: 767px) {
  .banner {
    height: 111px;
    border-radius: 10px;
    width: calc(100% - 20px);
    margin: 20px auto;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h1 {
      left: 20px;
      transform: translateY(-50%);
      text-align: left;
      font-size: 1.5rem;
      max-width: 230px;
    }
  }
}
