.banner {
  position: relative;
  width: 100%;
  max-width: 1240px;
  height: 223px;
  margin: 30px auto;
  border-radius: 25px;
  overflow: hidden; // Coupe l’overlay aux coins

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-size: 2.52rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 4, 4, 0.25);
  }
}
