.about-container {
  max-width: 1023px;
  margin: 80px auto;
  padding: 0 20px;
}

.collapse {
  width: 100%;
  margin-bottom: 30px;
}

.collapse-header {
  background-color: #ff6060;
  color: white;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;

  h3 {
    font-size: 1.4rem;
    margin: 10px;
  }

  img {
    margin: 0 5px;
  }
}

.collapse-arrow {
  transition: transform 0.3s ease;
}

.collapse-arrow.open {
  transform: rotate(180deg);
}

.collapse-content {
  background-color: #f6f6f673;
  padding: 15px;
}

.collapse-content.open {
  max-height: 150px;
}

.collapse-content p {
  margin: 0;
  font-size: 1rem;
}

/* Mobile : 320px → 767px */
@media (max-width: 767px) {
  .about-container {
    padding: 0 10px;
    margin: 50px auto;
  }

  .collapse-header h3 {
    font-size: 0.8rem;
  }

  .collapse-content p {
    font-size: 0.9rem;
  }

  .collapse-arrow {
    width: 25px;
  }

  .collapse-content {
    font-size: 0.7rem;
  }

  .collapse {
    margin-bottom: 20px;
  }
}
