.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 60px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__logo {
    width: 120px;
  }

  &__text {
    font-size: 1.2rem;
  }
}
