@use "sass:color";

// Variables de base
$color-primary: #000000;
$color-secondary: #ff6060;
$color-link: #646cff;

// Header principal
.header {
  width: 100%;

  &__container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 1rem 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
  }

  .nav {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-left: 2rem;

        a {
          color: $color-primary;
          text-decoration: none;
          font-size: 24px;
          font-weight: 500;
          transition: color 0.3s;

          &.active {
            border-bottom: 1.5px solid $color-primary;
          }
        }
      }
    }
  }
}
