@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap");

// Variables de base
$color-primary: #000000;
$color-secondary: #ff6060;
$color-link: #646cff;

// Reset minimal
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
