.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  padding: 0 20px;
}

.notfound-title {
  font-size: 6rem;
  margin: 0;
  color: #ff6060;
}

.notfound-text {
  font-size: 1.5rem;
  margin: 20px 0;
}

.notfound-button {
  display: inline-block;
  margin: 80px;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  font-weight: 500;
}

/* Mobile : 320px → 767px */
@media (max-width: 767px) {
  .notfound-title {
    font-size: 4rem;
  }

  .notfound-text {
    font-size: 1.1rem;
  }

  .notfound-button {
    margin: 40px 0;
  }
}
