.slide {
  width: 100%;
  height: 100%;
}

.slideshow {
  position: relative;
  width: 1240px;
  height: 415px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 25px;

  .slideshow-image {
    width: 1240px;
    height: 415px;
    object-fit: cover;
    object-position: center center;
    display: block;
    transition: transform 0.5s ease-in-out;
    border-radius: 25px;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: white;
    background: transparent;
    font-size: 4rem;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &.left {
      left: 10px;
    }
    &.right {
      right: 10px;
    }
  }

  .counter {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 600;
  }
}

/* Mobile : 320px → 767px */
@media (max-width: 767px) {
  .slideshow {
    width: 100%;
    height: 225px;
    border-radius: 10px;

    .slideshow-image {
      width: 100%;
      height: 225px;
      border-radius: 10px;
    }

    .arrow {
      font-size: 2rem;
    }

    .counter {
      font-size: 0.9rem;
    }
  }
}
